
* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 40px;
	color: #51453B;
	line-height: 40px;
 	font-weight: 300;
}

p {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #4B4543;
	line-height: 40px;
	font-weight: 400;
}

img {
	height: 100%;
	width: 100%;
}

#logo {
	padding-left: 20px;
	height: auto;
	width: auto;
}

.text-img-featured {
	text-align: center;
	font-size: 32px;
}

header {
	padding-top: 20px;
}

.title-header {
	padding-right: 20px;
}

hr {
	border: 1px solid gray;
	margin-bottom: 30px
}

#footer-text {
	text-align: center;
}