
* {
  font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background: #abe3e5;
}

h1 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #51453b;
  line-height: 40px;
  font-weight: 300;
}

h2 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #51453b;
  line-height: 40px;
  font-weight: 300;
  padding-top: 10px;
}

h5 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #51453b;
  line-height: 40px;
  font-weight: 300;
}

h6 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #51453b;
  line-height: 40px;
  font-weight: 400;
}

p {
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
  text-align: justify;
  font-size: 18px;
  text-indent: 3em;
  color: #4b4543;
  line-height: 40px;
  font-weight: 400;
  padding-top: 1em;
}

img {
  height: 100%;
  width: 100%;
}

#cover-image {
  padding-bottom: 40px;
}

.project-image {
  padding: 2em 3em 2em;
  transition: transform 0.2s;
}

.project-image-shadow {
  box-shadow: 2px 2px 8px 1px #51453b;
}

header {
  padding-top: 20px;
}

hr {
  border: 1px solid #7d97ad;
  margin-bottom: 30px
}

section {
  margin-top: -25em;
  border-top: 25em solid transparent;
}

footer {
  padding: 1.5em 0 1.5em;
}

#footer-text {
  text-align: center;
  padding-top: 2em;
}

#logo {
  height: 80px;
  width: 140px;
}

.featured-img-title {
  text-align: center;
  font-size: 32px;
}

.header-title {
  padding-right: 20px;
}

.main-background {
  background: #abe3e5;
}

.alternative-background-1 {
  background: #abd3d5;
}

.alternative-background-2 {
  background: #abc3d5;
}

#footer-contact-title {
  color: #51453b;
  text-align: center;
  padding: 0 0 0.5em;
}

.hr-contact-title {
  width: 60%;
  margin-top: -0.6em;
  border: 1px solid #51453b;
}

.skill-text {
  font-size: 24px;
  color: #abe3e5;
}

#skill-content {
  padding: 2em 5em 2em;
}

.skill-position {
  background: #51453b;
  width: 200px;
  height: 150px;
  text-align: center;
  line-height: 140px;
}

.container-fluid {
  padding-bottom: 2em;
}

ul {
  list-style-type: none;
}

@media (min-width: 767.98px) {
  .container-block {
    position: sticky;
    top: -150px;
    z-index: -1;
  }

  p {
    padding: 1em 3em 1em;
  }

  .row-projects {
    padding: 4em 5em 4em;
  }

  .row-logo {
    padding: 1em 5em 0em;
  }

  .section-title {
    padding-top: 2em;
    padding-left: 1.5em;
  }

  .project-image:hover {
    transform: scale(1.1);
    cursor: pointer;
    }

  .header-block {
    position: sticky;
    top: -1px;
    z-index: 1;
  }

  .nav-item {
    padding-left: 20px;
  }
}

@media (min-width: 359.98px) and (max-width: 767.98px) {
  .header-block {
    position: sticky;
    top: -15px;
    z-index: 1;
  }
}

@media (max-width: 459.98px) {
  .footer-col-content {
    padding: 1em 0 1em 5em;
  }
}