
* {
  font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background: #abe3e5;
}

h1 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #51453b;
  line-height: 40px;
  font-weight: 300;
}

h2 {
  font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #51453b;
  line-height: 40px;
  font-weight: 300;
  padding-top: 10px;
}

p {
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #4b4543;
  line-height: 40px;
  font-weight: 400;
}

img {
  height: 100%;
  width: 100%;
}

#cover-image {
  padding-bottom: 40px;
}

header {
  padding-top: 20px;
}

hr {
  border: 1px solid #7d97ad;
  margin-bottom: 30px
}

footer {
  padding-top: 2em;
}

#footer-text {
  text-align: center;
}

#logo {
  height: 80px;
  width: 140px;
}

@media (min-width: 767.98px) {
  #about-me-title {
    padding-top: 1em;
    padding-left: 1.5em;
  }
}

#about-me-text {
  text-align: justify;
  text-indent: 3em;
}

.featured-img-title {
  text-align: center;
  font-size: 32px;
}

.featured-img-text {
  text-align: justify;
  font-size: 18px;
  text-indent: 3em;
  padding-top: 2em;
  padding-bottom: 3em;
}

.header-title {
  padding-right: 20px;
}

.alternative-background {
  background: #abd3d5;
}
